main {
    font-family: "ivystyle-sans", sans-serif;
}

.overview {
    margin: 0 auto;
    width: 1320px;
    max-width:100%;
}

@media (max-width: 1319px) {
    .overview {
        margin: 0 1em;
    }
}

.overview>h1 {
    font-size: 48px; /* Larger font size for the name */
    font-weight: 700; /* Bold the name */
    color: #2D2F63;
    margin-bottom: 40px; /* Space below the name */
    position: relative; /* Allow positioning adjustments */
    top: 20px; /* Move the name slightly up */
}

.overview>p {
    color: #2D2F63;
}

.case-study {
    justify-content: space-between;
    padding: 40px 60px;
    background-color: #eae6f3;
    border-radius: 12px;
    margin: 40px auto;
    max-width: 1200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.case-study img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 50vh;
}

.case-study section {
    margin-bottom: 3em;
}

.imageblock {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
    max-width: 100%;
    max-height: auto;
}

.imageblock iframe {
    flex-shrink: 0;
}

.imageblock h3 {
    text-align: center;
}

.imagegrid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 1rem;
}

.imagegrid img:first-of-type {
    grid-column: 1;
    grid-row: 1 / span 2;
    margin-right: 0;
}

.imagegrid img:last-of-type {
    grid-column: 3;
    grid-row: 1 / span 2;
    margin-left: 0;
}

.imagegrid p:first-of-type {
    grid-column: 2;
    grid-row: 1;
}

.imagegrid p:last-of-type {
    grid-column: 2;
    grid-row: 2;
}

.imagegrid ul:first-of-type {
    grid-column: 2;
    grid-row: 1;
}

.imagegrid ul:last-of-type {
    grid-column: 2;
    grid-row: 2;
}

/* .imagegrid2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    gap: 1rem;
}

.imagegrid2 img:first-of-type {
    grid-column: 1;
    grid-row: 1 / span 2;
    margin-left: auto;
}

.imagegrid2 .element img {
    margin-left: 0;
} */
/* 
.imagegrid2 .imageblocktext2:first-of-type {
    grid-column: 2;
    grid-row: 1;
}

.imagegrid2 .imageblocktext2:last-of-type {
    grid-column: 2;
    grid-row: 2;
} */

.imagegrid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 1rem;
}

.imagegrid2 img:first-of-type {
    grid-column: 1;
    grid-row: 1;
}

.imagegrid2 .imageblocktext2:first-of-type {
    grid-column: 2;
    grid-row: 1;
}

.imagegrid2 .imageblocktext2:last-of-type {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.figmaleft {
    margin-left: auto;
    margin-right: 3em;
}

.figmaright {
    margin-left: 3em;
    margin-right: auto;
}


.thinlist {
    max-width: 50%;
    margin: auto;
    margin-bottom: 8px;
}

.imagegrid2 .longimg {
    max-height: 100vh;
    margin: 0 4em;
}

.imageblocktext {
    max-width: 40%;
    margin-top: 3em;
}

li {
    margin-bottom: 1em;
}

.imageblocktext2 {
    max-width: 70%;
    margin-right: auto;
    margin-top: 3em;
}

.element {
    display: flex;
    align-items: start;
}

.element img {
    margin-right: 1em;
    margin-left: 0;
}

.element p {
    margin-top: 0;
}

.competitors-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
}

.competitors-grid img {
    height: 200px;
    width: auto;
    margin-left: 0em;
}

.competitor-card {
    display: flex;
}

.competitor-card h4 {
    margin: auto;
}

@media (max-width: 768px) {
    .competitors-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5em;
    }

    .imageblock .longimg {
        max-height: fit-content;
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 0 2em;
    }

    .imageblock img {
        margin-left: 2px;
        margin-right: 2px;
    }

    .imageblocktext {
        margin-top: 0;
    }

    .imageblocktext2 {
        max-width: 100%;
        margin-right: auto;
        margin-top: 0;
    }

    .thinlist {
        max-width: 100%;
        margin: auto;
        margin-bottom: 8px;
    }

    .imagegrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }

    .imagegrid img:first-of-type {
        grid-column: 1;
        grid-row: 1;
    }

    .imagegrid img:last-of-type {
        grid-column: 2;
        grid-row: 2;
    }

    .imagegrid p:first-of-type {
        grid-column: 2;
        grid-row: 1;
    }

    .imagegrid p:last-of-type {
        grid-column: 1;
        grid-row: 2;
    }

    .imagegrid ul:first-of-type {
        grid-column: 2;
        grid-row: 1;
    }

    .imagegrid ul:last-of-type {
        grid-column: 1;
        grid-row: 2;
    }

    .imagegrid2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        gap: 1rem;
    }
    
    .imagegrid2 img:first-of-type {
        grid-column: 1;
        grid-row: 1;
    }
    
    .imagegrid2 .imageblocktext2:first-of-type {
        grid-column: 1;
        grid-row: 2;
    }
    
    .imagegrid2 .imageblocktext2:last-of-type {
        grid-column: 1;
        grid-row: 3;
    }
}